In [1]:
import numpy as np, pandas as pd

In [4]:
def func2(array):
    """Adds a scalar multiple of from_row of A to to_row of A

    Parameters
    ----------
    A : np array
    from_row, to_row : int
        these are both row numbers of the array A
    scalar : float
        the scalar used in the row operation

    Returns
    -------
    np array
        A after the indicated row operation is performed
    """

_IncompleteInputError: incomplete input (3909727446.py, line 1)