## Some very basic things about DataFrames

[DataFrames](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) are like spreadsheets that get along very well with python. We just need a few things for the least squares assignment. They are here.

In [1]:
import pandas as pd #pandas is the python library that provides the data structure DataFrame
import numpy as np

1. Use the read_csv command to import a csv file as a DataFrame.

In [2]:
df = pd.read_csv('games2024.csv',index_col=0) #If you don't specify index_col=0 it adds an unecessary column on import

In [3]:
df.head() #.head() shows the first 5 rows of the DataFrame. Can you guess what .tail() does?

    team  runs  BB  1B  2B  3B  HR   ParkID
0  "LAN"     5   9   7   0   0   0  "SEO01"
1  "SDN"     2   4   4   0   0   0  "SEO01"
2  "SDN"    15   6  13   3   1   1  "SEO01"
3  "LAN"    11   6  12   3   0   1  "SEO01"
4  "COL"     1   3   2   2   0   0  "PHO01"

2. Let's make a new dataframe that only consists of the columns 1B,2B and 3B.

In [4]:
df1 = df[['1B','2B','3B']]

In [5]:
df1.head()

   1B  2B  3B
0   7   0   0
1   4   0   0
2  13   3   1
3  12   3   0
4   2   2   0

3. Now let's make an np array from these values

In [6]:
A = np.array(df1)

In [7]:
A

array([[ 7,  0,  0],
       [ 4,  0,  0],
       [13,  3,  1],
       ...,
       [ 9,  1,  0],
       [ 3,  0,  0],
       [ 4,  2,  0]])

Let's add a new column to our DataFrame and fill it with some random numbers.

In [ ]:
m,n = df.shape #shape works the same as np arrays

In [ ]:
df['dummy'] = np.random.rand(m,1)

In [ ]:
df.head()